:root {
  --un-text-opacity: 100%;
}

@property --nuxt-devtools-inspect-border-angle {
  syntax: '<angle>';
  inherits: false;
  initial-value: 90deg;
}

.nuxt-devtools-inspect-running-border {
  transition: all 0.5s;
  filter: blur(10px);
  --nuxt-devtools-inspect-border-angle: 0deg;
  background: conic-gradient(
      from var(--nuxt-devtools-inspect-border-angle),
      #00dc82,
      #00e6e8,
      #42e200,
      #0086e2,
      #00dc82
    )
    border-box;
  -webkit-mask:
    linear-gradient(#fff 0 0) padding-box,
    linear-gradient(#fff 0 0);
  mask:
    linear-gradient(#fff 0 0) padding-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
  animation: color-rotate-background 1s linear infinite;
}

.nuxt-devtools-inspect-neon {
  background-image: linear-gradient(
    90deg,
    #00dc82,
    #00e6e8,
    #42e200,
    #00dc82,
    #00e6e8,
    #42e200,
    #00dc82,
    #00e6e8,
    #42e200
  );
  background-size: 400% 400%;
  background-position: 0 50%;
}

.nuxt-devtools-inspect-neon.running {
  animation: neon-background 3s linear infinite;
}

@keyframes neon-background {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* NuxtDevtoolsBox */

.nuxt-devtools-frame {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 2147483645;
  -webkit-font-smoothing: antialiased;
}

.nuxt-devtools-frame iframe {
  width: 100%;
  height: 100%;
  outline: none;
  background: var(--nuxt-devtools-widget-bg);
  border: 1px solid rgba(125, 125, 125, 0.2);
  border-radius: 10px;
}

.nuxt-devtools-resize-handle-horizontal {
  position: absolute;
  left: 6px;
  right: 6px;
  height: 10px;
  margin: -5px 0;
  cursor: ns-resize;
  border-radius: 5px;
}
.nuxt-devtools-resize-handle-vertical {
  position: absolute;
  top: 6px;
  bottom: 0;
  width: 10px;
  margin: 0 -5px;
  cursor: ew-resize;
  border-radius: 5px;
}
.nuxt-devtools-resize-handle-corner {
  position: absolute;
  width: 14px;
  height: 14px;
  margin: -6px;
  border-radius: 6px;
}
.nuxt-devtools-resize-handle:hover {
  background: rgba(125, 125, 125, 0.1);
}

/* NuxtDevtoolsMainFrame */

#nuxt-devtools-anchor {
  width: 0;
  z-index: 2147483645;
  position: fixed;
  transform-origin: center center;
  transform: translate(-50%, -50%) rotate(0);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px !important;
  box-sizing: border-box;
}

#nuxt-devtools-anchor * {
  box-sizing: border-box;
}

#nuxt-devtools-anchor button {
  border: none;
  background: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  outline: none;
  color: inherit;
}

#nuxt-devtools-anchor .nuxt-devtools-label {
  padding: 0 7px 0 8px;
  font-size: 0.8em;
  line-height: 1em;
  display: flex;
  gap: 3px;
  justify-items: center;
  align-items: center;
}

#nuxt-devtools-anchor .nuxt-devtools-label .nuxt-devtools-label-main {
  opacity: 0.8;
  white-space: nowrap;
}

#nuxt-devtools-anchor .nuxt-devtools-label .nuxt-devtools-label-secondary {
  font-size: 0.8em;
  line-height: 0.6em;
  opacity: 0.5;
  white-space: nowrap;
}

#nuxt-devtools-anchor .nuxt-devtools-nuxt-button {
  flex: none;
}

#nuxt-devtools-anchor.nuxt-devtools-vertical .nuxt-devtools-nuxt-button {
  transform: rotate(-90deg);
}

#nuxt-devtools-anchor.nuxt-devtools-vertical .nuxt-devtools-label {
  transform: rotate(-90deg);
  flex-direction: column;
  gap: 2px;
  padding: 0 10px;
}

#nuxt-devtools-anchor .nuxt-devtools-panel {
  position: absolute;
  left: 0;
  top: 0;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: flex-start;
  overflow: hidden;
  align-items: center;
  gap: 2px;
  height: 30px;
  padding: 2px 2px 2px 2.5px;
  border: 1px solid var(--nuxt-devtools-widget-border);
  border-radius: 100px;
  background-color: var(--nuxt-devtools-widget-bg);
  backdrop-filter: blur(10px);
  color: var(--nuxt-devtools-widget-fg);
  box-shadow: 2px 2px 8px var(--nuxt-devtools-widget-shadow);
  user-select: none;
  touch-action: none;
  max-width: 150px;
  transition:
    all 0.6s ease,
    max-width 0.6s ease,
    padding 0.5s ease,
    transform 0.4s ease,
    opacity 0.2s ease;
}

#nuxt-devtools-anchor.nuxt-devtools-hide .nuxt-devtools-panel {
  max-width: 32px;
  padding: 2px 0;
}

#nuxt-devtools-anchor.nuxt-devtools-vertical .nuxt-devtools-panel {
  transform: translate(-50%, -50%) rotate(90deg);
  box-shadow: 2px -2px 8px var(--nuxt-devtools-widget-shadow);
}

#nuxt-devtools-anchor .nuxt-devtools-panel-content {
  transition: opacity 0.4s ease;
}

#nuxt-devtools-anchor.nuxt-devtools-hide .nuxt-devtools-panel-content {
  opacity: 0;
}

#nuxt-devtools-anchor .nuxt-devtools-icon-button {
  border-radius: 100%;
  border-width: 0;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.8;
  transition: opacity 0.2s ease-in-out;
}
#nuxt-devtools-anchor .nuxt-devtools-icon-button:hover {
  opacity: 1;
}

#nuxt-devtools-anchor:hover .nuxt-devtools-glowing {
  opacity: 0.6;
}

#nuxt-devtools-anchor .nuxt-devtools-glowing {
  position: absolute;
  left: 0;
  top: 0;
  transform: translate(-50%, -50%);
  width: 160px;
  height: 160px;
  opacity: 0;
  transition: all 1s ease;
  pointer-events: none;
  z-index: -1;
  border-radius: 9999px;
  background-image: linear-gradient(45deg, #00dc82, #00dc82, #00dc82);
  filter: blur(60px);
}

@media print {
  #nuxt-devtools-anchor {
    display: none;
  }
}
