:root {
  --nui-c-context: 125,125,125;
}

html {
  background-color: white;
}

html.dark {
  color-scheme: dark;
  background-color: #151515;
  color: white;
}

::selection {
  background: #8884;
}

::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
  mix-blend-mode: normal;
}
::view-transition-old(root) {
  z-index: 1;
}
::view-transition-new(root) {
  z-index: 9999;
}
.dark::view-transition-old(root) {
  z-index: 9999;
}
.dark::view-transition-new(root) {
  z-index: 1;
}
