:root {
  --prose-code-inline-color: #325b27;
}

:root.dark {
  --prose-code-inline-color: #c0f0ad;
}

.logo svg {
  height: 2.5rem!important;
}

.hero-logo {
  @media (min-width: 768px) {
    width: 100%;
  }

  @media (min-width: 1024px) {
    width: 70%;
  }
}
