<!DOCTYPE html>
<html>
<head>
  <title>
    <%= messages.server_error %>
  </title>
  <meta charset="utf-8">
  <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name=viewport>
  <link rel="stylesheet" href="./error.css" />
</head>

<body>
  <div class="__nuxt-error-page">
    <div class="error">
      <svg xmlns="http://www.w3.org/2000/svg" width="90" height="90" fill="#DBE1EC" viewBox="0 0 48 48">
        <path
          d="M22 30h4v4h-4zm0-16h4v12h-4zm1.99-10C12.94 4 4 12.95 4 24s8.94 20 19.99 20S44 35.05 44 24 35.04 4 23.99 4zM24 40c-8.84 0-16-7.16-16-16S15.16 8 24 8s16 7.16 16 16-7.16 16-16 16z" />
      </svg>
      <div class="title">
        <%= messages.server_error %>
      </div>
      <div class="description">
        <% if (debug) { %>{{ message }}<% } else { %>
            <%= messages.server_error_details %>
              <% } %>
      </div>
    </div>
    <div class="logo">
      <a href="https://nuxtjs.org" target="_blank" rel="noopener">
        <%= messages.nuxtjs %>
      </a>
    </div>
  </div>
</body>

</html>
