    .__nuxt-error-page {
      padding: 1rem;
      background: #f7f8fb;
      color: #47494e;
      text-align: center;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      font-family: sans-serif;
      font-weight: 100 !important;
      -ms-text-size-adjust: 100%;
      -webkit-text-size-adjust: 100%;
      -webkit-font-smoothing: antialiased;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0
    }

    .__nuxt-error-page .error {
      max-width: 450px
    }

    .__nuxt-error-page .title {
      font-size: 24px;
      font-size: 1.5rem;
      margin-top: 15px;
      color: #47494e;
      margin-bottom: 8px
    }

    .__nuxt-error-page .description {
      color: #7f828b;
      line-height: 21px;
      margin-bottom: 10px
    }

    .__nuxt-error-page a {
      color: #7f828b !important;
      text-decoration: none
    }

    .__nuxt-error-page .logo {
      position: fixed;
      left: 12px;
      bottom: 12px
    }
