name: autofix.ci # needed to securely identify the workflow

on:
  pull_request:
    paths-ignore:
      - 'docs/**'

jobs:
  ci:
    permissions:
      id-token: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v4
      - uses: actions/setup-node@v4
        with:
          node-version: lts/*
          cache: pnpm
      - run: corepack enable
      - run: pnpm install
      - run: pnpm lint --fix
      - uses: autofix-ci/action@ea32e3a12414e6d3183163c3424a7d7a8631ad84
      - run: pnpm build
      - run: pnpm typecheck
