name: ci

on:
  push:
    branches:
      - main
  # PR CI handled by autofix.yml
  # pull_request:
  #   branches:
  #     - main

jobs:
  ci:
    permissions:
      id-token: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v4
      - uses: actions/setup-node@v4
        with:
          node-version: latest
          cache: pnpm
      - run: npm install -g corepack@latest
      - run: corepack enable
      - run: pnpm install
      - run: pnpm lint
      - run: pnpm build
      - run: pnpm typecheck
      - name: Release Nightly
        if: github.event_name == 'push' && !contains(github.event.head_commit.message, '[skip-release]')
        run: ./scripts/release-nightly.sh
